$border: 1.8px solid black;

.schema-form-body {
  .input__error {
    margin-top: 4px;
    color: red;
  }

  &__prop {
    margin-bottom: 1rem;
  }

  label {
    position: relative;
  }
}

.toolbar .schema-form-body {
  display: flex;
  flex: 1;
  align-items: center;

  .schema-form-group,
  .schema-form-body__row {
    margin-bottom: 0;
  }

  .schema-form-body__row label {
    width: auto;
    margin-right: 1rem;
  }
}

.schema-form-group {
  margin-bottom: 1rem;
  &__labeled-control {
    display: flex;
    align-items: center;
  }

  &__error {
    color: red;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  &--error {
    input,
    textarea {
      border: 1px solid red;
    }
    label {
      color: red;
    }
  }

  label {
    display: block;
    width: 180px;
  }

  textarea {
    width: 100%;
  }

  &--type-boolean {
    display: flex;
    label {
      width: auto;
    }
    input {
      margin-right: 1rem;
    }
    width: auto;
  }

  &__helper-text {
    color: #bbb;
    font-size: 11px;
  }
}



.form-action-container {
  display: flex;
  flex-direction: row;

  #input-filter {
    width: 60%;
    border-radius: 13px;
  }

  img {
    margin-right: 1.5rem;
    margin-top: 5px;
  }
}

.required-star-icon {
  color: red;
}

input {
  border-radius: 5px;
  padding: 5px;
  border: $border;
  width: 95%;
}

select {
  border-radius: 5px;
  padding: 5px;
  border: $border;
  width: 100%;
  text-transform: capitalize;

  .select-option-disabled {
    color: red;
    cursor: no-drop;
  }
}

textarea {
  border-radius: 5px;
  border: $border;
  width: 95%;
  padding: 5px;
}

.input-error {
  border-color: red;
}

.errorMessage {
  color: red;
  font-size: 12px;

  &::first-letter {
    text-transform: capitalize;
  }
}

.form-title {
  font-size: 25px;
  font-weight: bold;
}

@media only screen and (max-width: 700px) {
  .schema-form {
    .item {
      flex-direction: column;
    }
  }
}

.page-title {
  font-size: 25px;
  font-weight: bold;
}

.list-schema-form {
  display: block;

  .action-container {
    display: flex;
    flex-direction: row;
  }

  .title {
    padding: 6px;
  }

  .cell {
    padding: 6px;
  }
}